# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
# IGNORE PRODUCTION and AUTO VARS, but allow dev
*prod.tfvars
*.auto.tfvars

# Mac
.DS_Store

# Secrets
.env