# This is an example file. For local development, copy this to .env and fill in the values.
# These are automatically used by Docker Compose for local runs. They are NOT used in GCP.

# The GCP Project ID where the services are running.
GCP_PROJECT="app-factory-v2"